node_modules
.git
.env
.deploy
.idea
.nyc_output
coverage
public/*
!public/favicon.ico
!public/.gitkeep
secret/*
!secret/.gitkeep
data/webhook/*
!data/webhook/default.json
!data/webhook/custom/.gitkeep
