node_modules
.git
.idea
.nyc_output
coverage
public/*
!public/.gitkeep
secret/*
!secret/.gitkeep
data/storage/*
!data/storage/default.json
!data/storage/custom/custom.json.dist
!data/storage/custom/.gitkeep