/node_modules/
.idea/
.env
.deploy
.nyc_output
coverage
public/*
!public/favicon.ico
secret/*
!public/.gitkeep
!secret/.gitkeep
data/provider/*
!data/provider/default.json
!data/provider/custom/custom.json.dist
!data/provider/custom/.gitkeep
data/webhook/*
!data/webhook/default.json
!data/webhook/custom/.gitkeep
!data/webhook/custom/custom.json.dist