/node_modules/
.idea/
.nyc_output
coverage
public/*
secret/*
!public/.gitkeep
!secret/.gitkeep
data/storage/*
!data/storage/default.json
!data/storage/custom/custom.json.dist
!data/storage/custom/.gitkeep