/node_modules/
.idea/
.nyc_output
coverage
public/*
!public/favicon.ico
secret/*
!public/.gitkeep
!secret/.gitkeep
data/storage/*
!data/storage/default.json
!data/storage/custom/custom.json.dist
!data/storage/custom/.gitkeep
data/webhook/*
!data/webhook/default.json
!data/webhook/custom/.gitkeep