[
  {
    "model": "Provider",
    "data": {
      "name": "my_memory_files",
      "isDefault": false,
      "type": "memory",
      "config": {
        "custom": {},
        "access": {},
        "allowUpload": true,
        "urls": ["http://localhost:2000/", "https://www.my-other-domain.com", "http://caca.com"]
      }
    }
  },
  {
    "model": "Provider",
    "data": {
      "name": "my_filesystem_files",
      "isDefault": true,
      "type": "filesystem",
      "config": {
        "custom": {
          "path": "public/default"
        },
        "access": {},
        "allowUpload": true,
        "urls": ["http://localhost:2000/", "http://caca.com", "https://www.my-other-domain.com"]
      }
    }
  }
]